adbutils==1.2.15
altgraph==0.17.3
anyio==3.7.0
apkutils2==1.0.0
arc4==0.3.0
asgiref==3.7.2
astor==0.8.1
asttokens==2.4.0
async-generator==1.10
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.11.2
blinker==1.6.2
cached-property==1.5.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cheroot @ file:///C:/Users/wu/Desktop/web/cheroot-10.0.0-py3-none-any.whl
cigam==0.0.3
click==8.1.7
clr-loader==0.2.5
colorama==0.4.6
comm==0.1.4
commonmark==0.9.1
comtypes==1.1.14
contourpy==1.1.0
cryptography==41.0.7
cssselect==1.2.0
cycler==0.11.0
cyclic==1.0.0
Cython==0.29.20
dearpygui==1.8.0
debugpy==1.8.0
decorator==5.1.1
Deprecated==1.2.14
deprecation==2.1.0
Django==4.2.7
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing==1.2.0
facebook-wda==1.4.6
Faker==19.2.0
fastapi==0.90.1
filelock==3.12.4
Flask==2.3.3
fonttools==4.42.1
ghp-import==2.1.0
h11==0.14.0
httpcore==0.17.2
httptools==0.5.0
httpx==0.24.1
idna==3.4
importlib-metadata==6.0.0
ipykernel==6.25.2
ipython==8.15.0
itsdangerous==2.1.2
jaraco.functools @ file:///C:/Users/wu/Desktop/web/jaraco.functools-4.0.0-py3-none-any.whl
jedi==0.19.0
Jinja2==3.1.2
jmpy3==1.0.6
jupyter_client==8.3.1
jupyter_core==5.3.2
kiwisolver==1.4.5
logzero==1.7.0
lxml==4.9.3
Markdown==3.3.7
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdx-include==1.4.2
mergedeep==1.3.4
mkdocs==1.4.2
mkdocs-encryptcontent-plugin==2.4.5
mkdocs-markdownextradata-plugin==0.2.5
mkdocs-material==9.1.3
mkdocs-material-extensions==1.1.1
mkdocs-pymdownx-material-extras==2.4.2
more-itertools==10.2.0
mouse==0.7.1
MouseInfo==0.1.3
nest-asyncio==1.5.8
Nuitka==1.5.3
numpy==1.26.3
opencv-python==4.6.0.66
openpyxl==3.1.2
opt-einsum==3.3.0
ordered-set==4.1.0
outcome==1.2.0
packaging==23.1
paddlepaddle==2.5.2
pandas==2.0.0
parso==0.8.3
pathspec==0.11.2
pefile==2023.2.7
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
playsound==1.3.0
prettytable==3.9.0
progress==1.6
prompt-toolkit==3.0.39
protobuf==3.20.2
psutil==5.9.4
pure-eval==0.2.2
py==1.11.0
pyarmor==6.8.1
pyarmor.cli.core==1.0
PyAutoGUI==0.9.54
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.7
pyecharts==2.0.4
pyelftools==0.30
pyftpdlib==1.5.7
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.14.0
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
pymdown-extensions==9.10
PyMsgBox==1.0.9
pynput==1.7.6
pyOpenSSL==23.3.0
pyparsing==3.0.9
pyperclip==1.8.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PyRect==0.2.0
PyScreeze==0.1.30
pyserial==3.5
PySide2==5.15.2.1
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.1
pythonnet==3.0.1
pytweening==1.0.7
pywin32==303
pywin32-ctypes==0.2.2
pywinauto==0.6.8
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==25.1.1
qrcode==7.3.1
rcslice==1.1.0
regex==2023.8.8
requests==2.28.2
retry==0.9.2
rich==12.6.0
selenium==4.16.0
shellingham==1.5.0.post1
shiboken2==5.15.2.1
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
sqlparse==0.4.4
stack-data==0.6.2
starlette==0.23.1
toga==0.3.0
toga-core==0.3.0
toga-demo==0.3.0
toga-winforms==0.3.0
tornado==6.3.3
traitlets==5.10.1
travertino==0.1.3
trio==0.22.2
trio-websocket==0.10.3
ttkbootstrap==1.10.0
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
uiautomator2==2.16.25
urllib3==1.26.15
uvicorn==0.21.1
watchdog==2.3.1
watchfiles==0.19.0
wcwidth==0.2.7
web.py==0.61
websockets==11.0.2
wechatpayv3==1.2.41
weditor==0.7.0
Werkzeug==2.3.7
whichcraft==0.6.1
windnd==1.0.7
WMI==1.5.1
wordcloud==1.9.2
wrapt==1.15.0
wsproto==1.2.0
wxPython==4.2.1
xmltodict==0.13.0
you-get==0.4.1650
zipp==3.15.0
zstandard==0.20.0
